

<div class="row">
    <div class="col s12">
        <p>{{ information.doctor }}</p>
        <p>{{ information.address }}</p>
        <p>{{ information.city }} / {{ information.zipcode }}</p>
        <p>{{ information.number }}</p>
    </div>
</div>
